{% extends 'common/_main.html' %}
{% load i18n %}

{% block tab_title %} The CR - Client {% endblock %}

{% block navbar_option_1 %}
    {% with option_url='client-dashboard' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block navbar_option_2 %}
    {% with option_url='browse-articles' option_label='Browse Articles' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block navbar_option_3 %}
    {%with option_url='update-client' option_label="Account Settings"%}
        {{block.super}}
    {% endwith %}
{% endblock %}

{% block navbar_option_6 %}    
    {%with option_url="logout" option_label="Logout"%}
        {{block.super}}
    {% endwith %}
{%endblock%}


{% block navbar_option_5 %}
    {% with option_url='update-client' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}