{% extends 'writer/_main.html' %}
{% load i18n %}

{% block content %}
    <div class="container bg-white shadow p-5 mt-5 form-layout">
        <h3 class="text-center">{% translate 'Delete Account' %}</h3>
        <p class="text-center" style="margin-bottom: 40px;">{% translate 'Are you sure you want to delete your account?' %}</p>
        <form method="POST" autocomplete="OFF">
            {% csrf_token %}

            <h5 class="text-center" style="margin-bottom: 30px;">{{ user.email }}</h5>
            <h5 class="text-center" style="margin-bottom: 60px;">{{ user.first_name }} {{ user.last_name }}</h5>
            
            <div class="d-flex justify-content-between align-items-center" style="gap: 20px;">
                <input class="btn-danger m-0" style="background-color: #a80000;color: #fff;" type="submit" value="{% translate 'Delete' %}">
                <a href="{% url 'update-writer' %}" class="btn-home m-0">{% translate 'Cancel' %}</a>
            </div>
        </form>
    </div>
{% endblock %}