{% extends 'writer/_main.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container bg-white shadow p-5 mt-5 form-layout">
        <h3 class="text-center">{% translate 'Update Password' %}</h3>
        <p class="text-center mb-5">{% translate 'Fill in the form below to update your password.' %}</p>
        
        <form method="POST" autocomplete="OFF">
            {% csrf_token %}
            
            {{ password_form | crispy }}
            
            <hr width="100%" style="margin-top: 30px; margin-bottom: 20px;">
            <div class="d-flex justify-content-between align-items-center no-wrap" style="gap: 20px;">
                <input class="btn-primary" style="margin: 0;" type="submit" value="{% translate 'Update Password' %}">
                <a href="{% url 'update-writer' %}" class="btn-home" style="width: 100%; margin: 0; ">
                    {% translate 'Cancel' %}
                </a>
            </div>
        </form>
    </div>
{% endblock %} 