{% extends 'writer/_main.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container bg-white shadow p-5 mt-5 form-layout">
        <h3 class="text-center">{% translate 'Update Article' %}</h3>
        <p class="text-center mb-5">{% translate 'You may update the article below:' %}</p>
        <form method="POST" autocomplete="OFF">
            {% csrf_token %}

            {{ update_article_form | crispy }}

            <input class="btn-primary" type="submit" value="{% translate 'Update' %}">
            <a href="{% url 'my-articles' %}" class="btn-home w-100">{% translate 'Cancel' %}</a>
        </form>
    </div>
{% endblock %}