{% extends "account/_main.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block tab_title %}{% translate "User Register" %}{% endblock %}
{% block form_title %}{% translate "User Register" %}{% endblock %}
{% block form_body %}
    {{ register_form | crispy }}
{% endblock %}
{% block submit_action %}{% translate "Submit" %}{% endblock %}
{% block back_text %}{% translate "Already have an account?" %} <a href="{% url 'login' %}">{% translate "Login" %}</a>{% endblock %}